@charset 'utf-8';

:root {
  --default-font-color: rgb(29, 29, 31);
  --default-font-size: 14px;
  --content-max-width: 1000px;

  --color-gray: #888;
}

html {
  font-style: 'Noto Sans KR', sans-serif;
  font-size: var(--default-font-size);
}

body {
  overflow-x: hidden;
  color: var(--default-font-color);
  letter-spacing: -0.05em;
  background-color: white;
}

body.before-load {
  overflow: hidden;
}

p {
  line-height: 1.6;
}

a {
  color: var(--default-font-color);
  text-decoration: none;
}

.container {
  overflow-x: hidden;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.global-nav-links,
.local-nav-links {
  max-width: var(--content-max-width);
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 900;
}

.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

.scroll-section[id='0'] h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.scroll-section[id='2'] .main-message {
  font-size: 3.5rem;
}

.main-message {
  height: 3em;
  margin: 5px 0;
  font-size: 2.5rem;
  top: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.main-message p {
  text-align: center;
  font-weight: 900;
  line-height: 1.2;
}

.main-message small {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.product-desc {
  max-width: var(--content-max-width);
  margin: -8em auto 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--color-gray);
}

.product-desc strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--default-font-color);
}

.desc-message {
  width: 50%;
  font-weight: 900;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: var(--default-font-color);
}

.scroll-section[id='2'] .b {
  top: 10%;
  left: 40%;
}

.scroll-section[id='2'] .c {
  top: 15%;
  left: 45%;
}

.mid-message {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--color-gray);
}

.mid-message strong {
  color: var(--default-font-color);
}

.product-caption {
  max-width: var(--content-max-width);
  margin: -24rem auto 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--color-gray);
}

footer {
  height: 7rem;
  color: white;
  background-color: darkorange;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-elem {
  width: 100%;
  display: none;
  position: fixed;
  left: 0;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-blend-canvas.sticky {
  position: fixed;
}

.scroll-section[id='3'] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-scene-0 .scroll-section[id='0'] .sticky-elem,
#show-scene-1 .scroll-section[id='1'] .sticky-elem,
#show-scene-2 .scroll-section[id='2'] .sticky-elem,
#show-scene-3 .scroll-section[id='3'] .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}

.before-load .container {
  display: none;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}

.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  animation: loading-circle-ani 1s infinite;
  fill: transparent;
}

.normal-content {
  margin-bottom: 10rem;
}

.scroll-effect-end .sticky-elem {
  display: none !important;
}

@media (min-width: 1024px) {
  .scroll-section[id='0'] h1 {
    font-size: 9vw;
  }

  .scroll-section[id='2'] .main-message {
    font-size: 6vw;
  }

  .main-message {
    font-size: 4vw;
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .product-desc {
    padding: 0;
    font-size: 2rem;
  }

  .product-desc strong {
    font-size: 6rem;
  }

  .desc-message {
    width: 20%;
  }

  .scroll-section[id='2'] .b {
    top: 20%;
    left: 53%;
  }

  .scroll-section[id='2'] .c {
    left: 55%;
  }

  .mid-message {
    max-width: var(--content-max-width);
    padding: 0;
    font-size: 4vw;
  }

  .product-caption {
    margin-top: -8rem;
    padding: 0;
    font-size: 2rem;
  }
}
